<html>
<head>
  <title>To Do List</title>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>
<body>
  <h1>Categories</h1>

  {% if categories is not empty %}
    <p>Here are all your categories:</p>
    <ul>
      {% for category in categories %}
        <li><a href="/categories/{{ category.getId }}">{{ category.getName }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <form action='/categories' method='post'>
    <label for='name'>Category Name</label>
    <input id='name' name='name' type='text' />

    <button type='submit'>Add Category</button>
  </form>

  <form action='/delete_categories' method='post'>
    <button type='submit'>Delete All</button>
  </form>

  <p><a href="/">Home</a></p>

</body>
</html>
