<html>
    <head>
        <title>To Do List</title>

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    </head>
    <body>
      <h1>Welcome to To Do List</h1>
      <h3><a href="/categories">Add or view a category</a></h3>
      <h3><a href="/tasks">Add or view a task</a></h3>
    </body>
</html>
