<html>
    <head>
        <title>Tamagotchi</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Tamagotchi</h1>

            <form action='/start' method="post">
                <button type="submit" class="btn btn-success">Start!</button>
            </form>
        </div>
    </body>
</html>
